b Test
form(action='/formdata', method='post')
  label(for='title') Enter title:
  input(type='text', name='title')
  br
  label(for='note') Enter note:
  textarea(name='note', rows='10', cols='30') 
  br
  input(type='submit', value='OK')
